@font-face { font-family: VCR-OSD-MONO; src: url('VCR_OSD_MONO_1.001.ttf'); } 

html, body {
  /* height: 100%; */
  /* margin: 10;
  padding: 10; */
  background-color: black;
  color: beige;
  font-size:14px;
  font-family: VCR-OSD-MONO;

}

a:link{
  color:antiquewhite;
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-items: space-evenly;

  align-items: center;
}

canvas {
  display: block;
}

[id=gui-div] {
  margin: auto;
  display: flex;
  flex-direction: column;

  justify-content: center;

  align-items: center;
  margin-top: 10px;
}

.button-row {
  margin: auto;
  display: inline-flex;
  flex-direction: row;

  align-items: space-around;
}

.button-row * {
  padding: 5px;
  margin: auto;
}

.button-column {
  margin: auto;
  display: flex;
  flex-direction: column;

  /* align-items: space-around; */
}

.button-column * {
  padding: auto;
  margin: auto;
}

/* global css variables */
:root {
  --button-bg-color: #202020;
  --button-checked-color: #383838;
  --button-border-width: 2px;
}

input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

/* label design */
label {
  display: inline-flex;
  cursor: pointer;
  padding: 9px;
}

input[type=radio]:checked + label{
  background: var(--button-checked-color)
}

input#Water + label {
  background: #2b63c3;
}

input#Soil + label {
  background: #755127;
}

input#Vapour + label {
  background: #c0d2f2;
  color: black;
}

input#Seed + label {
  background: #fcba03;
  color: black;
}

input#Bug + label {
  background: #a11ee3;
}

input#Nitrogen + label {
  background: #4f7052;
  color: black;
}

input#Biomass + label {
  background: #705d4f;
  color: black;
}

/* border around labels */
input[type=radio]:checked + label {
  border-left: solid var(--button-border-width) #ffffff;
  border-bottom: solid var(--button-border-width) #ffffff;
  border-top: solid var(--button-border-width) #ffffff;
  border-right: solid var(--button-border-width) #ffffff;
  padding: 7px;
}
